.header {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #000;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__img {
    margin: 10px 30px;
    width: 100px;
    height: 100px;
}

.header__img:hover {
    transform: scale(1.1);
}

.logo__header {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center center;
}

.header__links {
    width: 70%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: auto 20px;
}

.header__link {
    font-size: 20px;
    text-decoration: none;
    margin: 10px 15px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.header__link:hover {
    transform: scale(1.1);
}

.header__button {
    display: none;
    margin: 10px 15px;
}

.header__button-image {
    width: 50px;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .header__button {
        display: block;
    }

    .header__img {
        margin: 10px 10px;
        width: 70px;
        height: 70px;
    }

    .header__links {
        border: 2px solid grey;
    }
}