@import url("../../vendor/normalize.css");
@import url("../commonBlocks/header.css");
@import url("../commonBlocks/footer.css");

.page {
  min-width: 320px;
  max-width: 100vw;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.span-bold {
  font-weight: bold;
}

.navigation {
  margin: 50px 0 0 0;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__index {
  padding: 0;
  margin: 20px 0 0 0;
}

.navigation__title {
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  line-height: 1;
}

.navigation__box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation__plate {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;

}

.navigation__arrow {
  height: 50px;
  transition: .3s;

}

.navigation__arrow:hover {
  transform: rotate(90deg);
}


.navigation__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  flex-grow: 1;
  margin-left: 10px;
}

.navigation__plate:hover>.navigation__arrow {
  transform: rotate(90deg);
}

.navigation__link:hover::before {
  white-space: pre;
  content: "  К разделу:  ";
}

.navigation__link::after {
  content: "";
  background-color: #f7f2d6;
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .3s;
}

.navigation__link:hover::after {
  content: "";
  background-color: #f7f2d6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navigation__text {
  margin: 30px 0 0 0;
  padding: 0;
}

.articles {
  margin: 50px 0 0 0;
  line-height: 25px;

}

.articles:last-child {
  margin: 50px 0 50px 0;
}

.articles__type {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
}

.beerclass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beerclass__subtype {
  margin: 30px 0 0 0;
  width: 100%;
  text-align: left;
}

.beerclass__definition {
  box-sizing: border-box;
  border: 4px solid black;
  background-color: #f7f2d6;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 30px 0 0 0;
  width: 100%;

}

.beerclass__article {
  margin: 30px 0 0 0;
  width: 100%;
  text-align: left;
}

.beerclass__image {
  width: 100%;
  margin: 30px 0 0 0;
}

.beerclass__varieties {
  box-sizing: border-box;
  border: 4px solid black;
  background-color: #f7f2d6;
  padding: 20px 40px;
  border-radius: 10px;
  margin: 30px 0 0 0;
  width: 100%;
}

.beer__varieties-item {
  margin: 10px 0px;
}

@media screen and (max-width: 720px) {

  .beerclass__varieties {
    padding: 20px 25px;
  }

  .beerclass__definition {
    padding: 20px 15px;
  }

  .content {
    width: 85%;
  }

  .navigation__title {
    font-size: 35px;
  }

}