@import url(../vendor/normalize.css);
@import url(../vendor/InterWeb/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/_active/page_active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__img/header__img.css);
@import url(../blocks/header/__burger/header__burger.css);
@import url(../blocks/header/__burger/themes/header__burger_active.css);
@import url(../blocks/header/__span/header__span.css);
@import url(../blocks/header/__span/themes/header__span_active.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu/themes/header__menu_active.css);
@import url(../blocks/header/__items/header__items.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__link/header__link.css);


.content {
  padding: 80px 0 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 50px 0 0;
  }
}

.brewing__tables {
  display: flex;
}

.brewing__table {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.brewing__button {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: 500;
}

.brewing__bottle {
  border: 1px solid red;
  width: 400px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.brewing__bottle_empty {
  background: url(../imgs/Безымянный.png) center no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 5;
  bottom: 0;
}

.brewing__agua2L {
  background-color: rgb(125, 125, 255);
  height: 40px;
  width: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
}

.brewing__agua19L {
  background-color: aqua;
  height: 100px;
  width: 100%;
}

.brewing__suslo {
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
}

.brewing__heating {
  position: absolute;
  z-index: 4;
  bottom: 0;
  background: url(../imgs/heating.png) center no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;
}

.brewing__weat {
  background-color: rgb(255, 255, 0);
  height: 20px;
  width: 100%;
}